@media screen and (max-width: 550px) {
  #maincontent {
    width: 100%;
  }

  nav h1 a {
    font-size: 1.5em;
  }

  .filter-options {
    padding-top: 1em;
    height: 10em;
    text-align: center;
    display: block;
  }

  .filter-options select {
    width: 90%;
  }

  #restaurants-list {
    width: 100%;
    padding: 0;
  }

  #restaurants-list li {
    width: 100%;
    margin: 10px 0;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
  }
}


@media screen and (min-width: 551px) and (max-width: 850px) {
  #maincontent {
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav h1 a {
    font-size: 2em;
  }

  .filter-options {
    padding-top: 1em;
    height: 10em;
    text-align: center;
  }

  .filter-options select {
    width: 90%;
  }

  #restaurants-list {
    width: 100%;
    padding: 0;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #restaurants-list li {
    width: 40%;
    margin: 10px 0;
    padding: 0;
    padding-bottom: 10px;
    text-align: center;
  }
}


@media screen and (min-width: 851px) {
  #maincontent {
    max-width: 1100px;
    margin: 0 auto;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav h1 a {
    font-size: 2em;
  }

  .filter-options {
    display: flex;
    justify-content: space-around;
  }

  .filter-options h2 {
    font-size: 2em;
  }

  .filter-options select {
    width: 33%;
  }

  #restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
  }

  #restaurants-list li {
    width: 30%;
    margin: 15px 0;
  }
}














